<div pDroppable="true" (drop)="onDrop($event, isRecurring)">
  <p-table
    [value]="items"
    [columns]="columns"
    [rowHover]="true"
    dataKey="id"
    (onRowReorder)="onRowReorder($event)"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <h5 class="m-0">{{ title | translate }}</h5>
      </div>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-index="rowIndex"
    >
      <tr
        [ngClass]="{
          'cursor-pointer': currentDay,
          'committed-background-color':
            rowData.committedDate !== null && rowData.dueDate === null,
          'disable-row-reorder': rowData.dueDate !== null
        }"
        [pReorderableRow]="index"
        (dragstart)="onDragStart($event, rowData, index)"
        (click)="assignTaskOccurrenceToSelectedWeekday(rowData)"
      >
        <td class="w-2rem">
          @if (!rowData.dueDate) {
          <span class="pi pi-bars" pReorderableRowHandle></span>
          }
        </td>
        @for (col of columns; track col) {
        <td [ngStyle]="{ 'text-align': col.align }">
          <span>{{ rowData[col.field] }}</span>
        </td>
        }
        <td class="w-8rem">
          <div class="flex justify-content-end">
            @if (!isRecurring) {
            <button
              pButton
              icon="pi pi-check"
              class="p-button-rounded p-button-info mr-2"
              (click)="completeTaskOccurrence(rowData)"
            ></button>
            }
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editTaskOccurrence(rowData)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteTaskTemplate(rowData)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
