.committed-background-color {
  background-color: papayawhip;
}

.disable-row-reorder {
  background-color: lightgray;
  pointer-events: none; /* Disable pointer events for the row */
}

.disable-row-reorder button {
  pointer-events: all; /* Re-enable pointer events for buttons */
}
