<div class="flex flex-column" style="height: 100%">
  <div class="card">
    <div class="grid">
      @for (dayData of weekData$ | async; track dayData) {
      <div class="col-3">
        <app-todo
          [items$]="dayData.items$"
          [weekDayDate]="dayData.weekDayDate"
          [cols]="cols"
        >
        </app-todo>
      </div>
      }
    </div>

    <p-toolbar styleClass="mb-4">
      <div class="my-2">
        <button
          pButton
          [label]="'home.newTask' | translate"
          icon="pi pi-plus"
          class="p-button-info mr-2"
          (click)="openNew()"
        ></button>
      </div>
      <p-selectButton
        [options]="weekdays"
        [(ngModel)]="currentDay"
        optionLabel="name"
        optionValue="value"
      >
      </p-selectButton>
    </p-toolbar>

    <div class="grid">
      <div class="col-6">
        <app-active-task-occurrences-table
          [items]="(oneTimeItems$ | async)!"
          [columns]="cols"
          [(currentDay)]="currentDay"
          title="home.oneTime"
          [isRecurring]="false"
        ></app-active-task-occurrences-table>
      </div>
      <div class="col-6">
        <app-active-task-occurrences-table
          [items]="(recurringItems$ | async)!"
          [columns]="cols"
          [(currentDay)]="currentDay"
          title="home.recurring"
          [isRecurring]="true"
        ></app-active-task-occurrences-table>
      </div>
    </div>

    <p-divider />

    <button
      pButton
      [label]="'home.newNotepad' | translate"
      icon="pi pi-plus"
      class="p-button-info mr-2"
      (click)="createNewNotepad()"
    ></button>

    <div class="grid">
      @for (notepad of notepads$ | async; track notepad) {
      <div class="col-6 mt-3">
        <app-notepad [notepad]="notepad"></app-notepad>
      </div>
      }
    </div>
  </div>
</div>
