<form [formGroup]="form" style="height: 500px">
  <div class="field flex flex-column">
    <label for="description">* {{ "editTask.description" | translate }}</label>
    <input
      id="description"
      type="text"
      pInputText
      formControlName="description"
      autofocus
    />
    @if ( this.form.get('description')?.invalid &&
    this.form.get('description')?.dirty) {
    <small class="ng-dirty ng-invalid">
      {{ "editTask.description.required" | translate }}
    </small>
    }
  </div>

  @if (taskOccurrence.taskTemplate?.recurring && taskOccurrence.committedDate) {
  <div class="field flex flex-column">
    <label for="originalDescription">{{
      "editTask.originalDescription" | translate
    }}</label>
    <input
      id="originalDescription"
      type="text"
      pInputText
      [value]="taskOccurrence.taskTemplate!.description"
      [disabled]="true"
    />
  </div>
  }

  <div class="field">
    <label for="recurring">* {{ "editTask.taskType" | translate }} </label>
    <p-selectButton
      id="recurring"
      [options]="stateOptions"
      formControlName="recurring"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
    @if ( this.form.get('recurring')?.invalid &&
    this.form.get('recurring')?.dirty) {
    <small class="ng-dirty ng-invalid">
      {{ "editTask.recurring.required" | translate }}
    </small>
    }
  </div>

  <div class="field">
    <label class="w-full" for="dueDate"
      >{{ "editTask.dueDate" | translate }}
    </label>
    <p-calendar
      id="dueDate"
      formControlName="dueDate"
      [showButtonBar]="true"
      dateFormat="dd/mm/yy"
    ></p-calendar>
  </div>

  <div class="field">
    <label for="renewOnDueDate"
      >{{ "editTask.renewOnDueDate" | translate }}
    </label>
    <p-selectButton
      id="renewOnDueDate"
      [options]="renewOptions"
      formControlName="renewOnDueDate"
      optionLabel="label"
      optionValue="value"
    >
    </p-selectButton>
  </div>

  <div class="field flex justify-content-center">
    <div class="flex flex-wrap gap-3">
      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Days"
          formControlName="intervalType"
          inputId="days"
        />
        <label for="days" class="ml-2">
          {{ "editTask.days" | translate }}
        </label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          name="intervalType"
          [value]="intervalType.Months"
          formControlName="intervalType"
          inputId="months"
        />
        <label for="months" class="ml-2">
          {{ "editTask.months" | translate }}
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="w-full" for="intervalValue"
      >{{ "editTask.intervalValue" | translate }}
    </label>
    <p-inputNumber id="intervalValue" formControlName="intervalValue">
    </p-inputNumber>
  </div>
</form>

<button
  pButton
  [label]="'cancel' | translate"
  icon="pi pi-times"
  class="p-button-text"
  (click)="hideDialog()"
></button>
<button
  pButton
  [disabled]="form.invalid"
  [label]="'save' | translate"
  icon="pi pi-check"
  class="p-button-text"
  (click)="saveTaskOccurrence()"
></button>
